@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-ExtraBold.ttf.woff") format("woff"),
    url("../fonts/Lato-ExtraBold.ttf.svg#Lato-ExtraBold") format("svg"),
    url("../fonts/Lato-ExtraBold.ttf.eot"),
    url("../fonts/Lato-ExtraBold.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Thin.ttf.woff") format("woff"),
    url("../fonts/Lato-Thin.ttf.svg#Lato-Thin") format("svg"),
    url("../fonts/Lato-Thin.ttf.eot"),
    url("../fonts/Lato-Thin.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.ttf.woff") format("woff"),
    url("../fonts/Lato-Light.ttf.svg#Lato-Light") format("svg"),
    url("../fonts/Lato-Light.ttf.eot"),
    url("../fonts/Lato-Light.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf.woff") format("woff"),
    url("../fonts/Lato-Regular.ttf.svg#Lato-Regular") format("svg"),
    url("../fonts/Lato-Regular.ttf.eot"),
    url("../fonts/Lato-Regular.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.ttf.woff") format("woff"),
    url("../fonts/Lato-Bold.ttf.svg#Lato-Bold") format("svg"),
    url("../fonts/Lato-Bold.ttf.eot"),
    url("../fonts/Lato-Bold.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: 700;
  font-style: normal;
}
