@import "fonts";
@import "breakpoints";

html,
body {
  scroll-behavior: smooth;
}

p {
  margin-bottom: 1.2em;
}

.hero-title-strong {
  @apply text-5xl font-extrabold text-dark;
  line-height: 1.2em;
  @media (min-width: $sm) {
    @apply text-title;
  }
  span {
    @apply text-primary;
  }
}

.title-strong {
  @apply text-4xl font-extrabold text-dark;
  line-height: 1.2em;
  @media (min-width: $sm) {
    @apply text-5xl;
  }
  span {
    @apply text-primary;
  }
}
